{% extends 'base.html' %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/katalog_buku.css' %}">
    <title>Katalog Buku</title>

    <section>
        <div style="opacity: 1; height: 100vh;background-image: url(https://images.alphacoders.com/132/1326370.png);background-position: center;background-size: cover;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold" style="color: white;">Flex-Lib<br>Request Buku</h1>
                            <p class="my-3" style="color: white;">Di Flex-lib kamu dapat melakukan permintaan buku atau request buku. Kami akan menerima request buku kamu dan memutuskan apakah buku yang di kamu minta akan kami tambahkan. </p>
                            <a class="btn btn-primary btn-lg me-2" role="button" data-bs-toggle="modal" data-bs-target="#requestModal">Request Buku Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Buku Baru</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="isbn" class="col-form-label">ISBN:</label>
                            <input type="text" class="form-control" id="isbn" name="isbn"></input>
                        </div>
                        <div class="mb-3">
                            <label for="book_title" class="col-form-label">Judul:</label>
                            <input type="text" class="form-control" id="book_title" name="book_title"></input>
                        </div>
                        <div class="mb-3">
                            <label for="book_author" class="col-form-label">Penulis:</label>
                            <input type="text" class="form-control" id="book_author" name="book_author"></input>
                        </div>
                        <div class="mb-3">
                            <label for="tahun_publikasi" class="col-form-label">Tahun terbit:</label>
                            <input type="number" class="form-control" id="tahun_publikasi" name="tahun_publikasi"></input>
                        </div>
                        <div class="mb-3">
                            <label for="penerbit" class="col-form-label">Penerbit:</label>
                            <input type="text" class="form-control" id="penerbit" name="penerbit"></input>
                        </div>
                        <div class="mb-3">
                            <label for="url_foto_kecil" class="col-form-label">Url foto(kecil):</label>
                            <input type="url" class="form-control" id="url_foto_kecil" name="url_foto_kecil"></input>
                        </div>
                        <div class="mb-3">
                            <label for="url_foto_medium" class="col-form-label">Url foto(sedang):</label>
                            <input type="url" class="form-control" id="url_foto_medium" name="url_foto_medium"></input>
                        </div>
                        <div class="mb-3">
                            <label for="url_foto_large" class="col-form-label">Url foto(besar):</label>
                            <input type="url" class="form-control" id="url_foto_large" name="url_foto_large"></input>
                        </div>
                        <div class="mb-3">
                            <label for="book_price" class="col-form-label">Harga buku:</label>
                            <input type="number" class="form-control" id="book_price" name="book_price"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambah buku</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md bg-body py-3">
        <div class="container">
            <form method="get" action="{% url 'katalog_buku:search' %}">
                <input type="text" name="search" id="search" placeholder="Search" />
            </form>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navcol-3" class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'request_buku:status_request_buku' %}">Request Buku</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donasi_buku:donasi_buku_main' %}">Donasi Buku</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Tambah Buku</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tambah buku</button> {% endcomment %}

    <div id="main-container"></div>

<script>
    async function getProducts() {
        return fetch("{% url 'katalog_buku:get_books' %}").then((res) => res.json());
    }

    async function refreshProducts() {
        document.getElementById("main-container").innerHTML = ""
        const products = await getProducts();

        let htmlString = ""

        products.forEach((buku) => {
            htmlString += `
                <div class="card-container">
                    <img src=${buku.fields.url_foto_large}>
                    <div class="card-detail">
                        <div class="title">
                            <p>${buku.fields.book_title}</p>
                            <p>${buku.fields.book_author}</p>
                            <p>${buku.fields.tahun_publikasi}</p>
                            <p>${buku.fields.penerbit}</p>
                            <p>Rp ${buku.fields.book_price}</p>
                        </div>   
                    </div>
                </div>
            `
        })
        document.getElementById("main-container").innerHTML = htmlString
    }

    refreshProducts()
    function addProduct() {
        fetch("{% url 'katalog_buku:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct
</script>


{% endblock content %}