<form class="d-flex" role="search" method="POST">
    {% csrf_token %}
    <input
       class="form-control me-2"
       type="search"
       placeholder="Search"
       name="search_query"
       required aria-label="Search"
    >
    <button class="btn btn-outline-success" type="submit">Search</button>
   </form>


   {% if query %}
   <div>
       <div>
       <!-- check if there is a result in the database-->
       {% if posts %}
           <!-- loop through search query if there is a result -->
           {% for post in posts %}
               <div>
                   <!-- return search query -->
                   <p>{{post.title}}</p>
               </div>
           {% endfor %}
           <!-- return a message if there are no results found. -->
       {% else %}
           <h3>No search results found</h3>
       {% endif %}
       </div>
   </div>
{% else %}
   <h1>Please enter a search query</h1>
{% endif %}

def sort_by_judul_buku(request):
    data = Buku.object.all().order_by('book_title')
    return HttpResponse(serializers.serialize('json', data), content_type='application/json')

def sort_by_author(request):
    data = Buku.object.all().order_by('book_author')
    return HttpResponse(serializers.serialize('json', data), content_type='application/json')

def sort_by_publisher(request):
    data = Buku.object.all().order_by('book_publisher')
    return HttpResponse(serializers.serialize('json', data), content_type='application/json')

def search(request):
        # Check if the request is a post request.
    if request.method == 'POST':
        # Retrieve the search query entered by the user
        search_query = request.POST['search_query']
        # Filter your model by the search query
        posts = Buku.objects.filter(fieldName__contains=search_query)
        return render(request, 'search.html', {'query':search_query, 'posts':posts})
    else:
        return render(request, 'template_name.html',{})