{% extends 'base.html' %}

{% load static %}

{% block title %}Donasi Buku{% endblock title %}

{% block content %}
<div class="container">
    <div class="row d-flex my-3">
        <h1 style="text-align: center;">Donation Form</h1>
    </div>
    <div class="row my-3">
        <span class="border border-light border-5 p-4">
            {% csrf_token %}
            <form method="post">
                <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="author" class="col-sm-2 col-form-label">Author</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="year" class="col-sm-2 col-form-label">Release Year</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="year" name="year" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="edition" class="col-sm-2 col-form-label">Edition</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="number" name="number" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="imageUrl" class="col-sm-2 col-form-label">Image URL (optional)</label>
                    <div class="col-sm-2">
                        <input type="url" class="form-control" id="imageUrl" name="imageUrl">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Donate</button>
                    </div>
                </div>
            </form>
        </span>
    </div>
</div>
{% endblock content %}